@model HomeViewModel

@{
    ViewData["Title"] = "Главная страница";
}
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Unicall</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Главная <span class="sr-only">(текущий)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Раздел</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main role="main" class="pb-3">
    <div class="header">
        <div class="header-info">
            <div class="mask"></div>
            <div class="container">
                <div class="logo-stats row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xs-6 logo-col">
                        <div class="logo"></div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xs-6 stats-col">
                        <div class="stats">
                            @*
                            <span>Резюме на практику: @Model.MainStat.ResumePractic</span>
                            <br />
                            <span>Всего резюме: @Model.MainStat.AllResume</span>
                            <br />
                            <span>Вакансии на практику: @Model.MainStat.VacancyPractic</span>
                            <br />
                            <span>Вакансии всего: @Model.MainStat.AllVacancy</span>
                            *@
                            <span wfd-id="34">Резюме на практику: 6</span>
                            <br>
                            <span wfd-id="33">Всего резюме: 16</span>
                            <br>
                            <span wfd-id="32">Вакансии на практику: 10</span>
                            <br>
                            <span wfd-id="31">Вакансии всего: 27</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-search-line">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="p-relative text-right">
                            <div class="small-logo" id="smallLogo"></div>
                            <div class="input-group" id="searchInputGroup">
                                <input type="text" class="form-control" id="searchLine" placeholder="Поиск..." aria-label="Поиск...">
                                <span class="input-group-append">
                                    <button class="btn btn-success search font-size-none" id="searchBtn" type="button"></button>
                                </span>
                            </div>
                            <div class="sub-search p-absolute d-none text-left" id="subSearchVariants">
                                <div class="loader p-absolute"></div>
                            </div>
                        </div>
                        <div class="text-right font-size-none">
                            <a class="btn btn-link btn-sm d-inline-block text-right" id="additionalSearchBtn" data-status="off" data-toggle="collapse" href="#additionalSearchFilters" aria-expanded="false" aria-controls="additionalSearchFilters">
                                Расширенный поиск
                            </a>
                        </div>
                        <div class="collapse" id="additionalSearchFilters">
                            <div class="card card-body">
                                <form>
                                    <div class="form-row">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-secondary active">
                                                <input type="radio" name="options" id="Practic" autocomplete="off" checked> Практика
                                            </label>
                                            <label class="btn btn-secondary">
                                                <input type="radio" name="options" id="Work" autocomplete="off"> Работа
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="inputPriceFrom" class="col-form-label">Зарплата от</label>
                                            <input type="text" class="form-control" id="inputPriceFrom">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputPriceTo" class="col-form-label">Зарплата до</label>
                                            <input type="text" class="form-control" id="inputPriceTo">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="inputSubdivision" class="col-form-label">Населённый пункт</label>
                                            <select id="inputSubdivision" class="form-control custom-select">
                                                <option selected>Выберите...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputDealArea" class="col-form-label">Сфера (область)</label>
                                            <input type="text" class="form-control" id="inputDealArea" placeholder="Сфера (область)">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputOrg" class="col-form-label">Организация</label>
                                            <input type="text" class="form-control" id="inputOrg" placeholder="Организация">
                                        </div>
                                    </div>
                                    <br />
                                    <button type="submit" class="btn btn-success">Найти</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body">
        <div class="vacs">
            @{
                foreach (var vac in Model.HotVacancies.Where(p => p.IsActive).ToList())
                {
                    var price = "";
                    if (vac.MinWage > 0 && vac.MaxWage > 0)
                    {
                        price = vac.MinWage + " - " + vac.MaxWage + " руб.";
                    }
                    else if (vac.MinWage > 0 && vac.MaxWage == 0)
                    {
                        price = "от " + vac.MinWage + " руб.";
                    }
                    else if (vac.MinWage == 0 && vac.MaxWage > 0)
                    {
                        price = "до " + vac.MaxWage + " руб.";
                    }
                    else
                    {
                        price = "Не указана";
                    }
                    <div class="vac">
                        <div class="name-price">
                            <a class="name" href="#">@vac.Name</a>
                            <span class="price">@price</span>
                        </div>
                        <div class="org">
                            <a href="#">@vac.Organization</a>
                        </div>
                        <div class="loc">
                            <span>@vac.Locality</span>
                        </div>
                        <p class="descr">
                            @vac.Description
                        </p>
                    </div>
                }
            }
            <div class="vac">
                <div class="name-price">
                    <a class="name" href="#">Тестовая работа 1</a>
                    <span class="price">5000 - 45000 руб.</span>
                </div>
                <div class="org">
                    <a href="#">МБОУ СОШ №20 имени Бурюханова Т.М.</a>
                </div>
                <div class="loc">
                    <span>Архангельск</span>
                </div>
                <p class="descr">
                    Тут может быть самое любое описание которое только взбредет мне в голову. Так же тут могут быть описаны возможности, которых вы можете добиться работая в нашем коллективе. Ну и будет не лишним сказать про быстрый карьерный рост и прочее прочее прочее...
                </p>
                <span class="badge badge-info">Практика</span>
            </div>
            <div class="vac">
                <div class="name-price">
                    <a class="name" href="#">Тестовая работа 2</a>
                    <span class="price">от 70000 руб.</span>
                </div>
                <div class="org">
                    <a href="#">Государственное бюджетное учреждение здравоохранения Архангельской области «Архангельская областная клиническая больница»</a>
                </div>
                <div class="loc">
                    <span>Вельск</span>
                </div>
                <p class="descr">
                    Тут может быть самое любое описание которое только взбредет мне в голову. Так же тут могут быть описаны возможности, которых вы можете добиться работая в нашем коллективе. Ну и будет не лишним сказать про быстрый карьерный рост и прочее прочее прочее...
                </p>
                <span class="badge badge-info">Работа</span>
            </div>
        </div>
    </div>
</main>
