@model VacancyViewModel

@{
    ViewData["Title"] = Model.CurrentVacancy.Name;
}

<header>
    @await Html.PartialAsync("TopMenu")
</header>
<main role="main" class="pb-3">
    <div class="container body">
        <div class="vacs">
            @{
                var vac = Model.CurrentVacancy;
                var price = "";
                var minWage = String.Format("{0:n0}", vac.MinWage);
                var maxWage = String.Format("{0:n0}", vac.MaxWage);

                if (vac.MinWage > 0 && vac.MaxWage > 0 && !vac.IsPractic)
                {
                    price = minWage + " - " + maxWage + " руб.";
                }
                else if (vac.MinWage > 0 && vac.MaxWage == 0 && !vac.IsPractic)
                {
                    price = "от " + minWage + " руб.";
                }
                else if (vac.MinWage == 0 && vac.MaxWage > 0)
                {
                    price = "до " + maxWage + " руб.";
                }
                else
                {
                    price = "Не указана";
                }

                var vacType = "Работа";
                if (vac.IsPractic)
                {
                    vacType = "Практика";
                }

                <div class="vac-current">
                    <div class="name-price">
                        <span class="name">@vac.Name</span>
                        <span class="price">@price</span>
                    </div>
                    <div class="org">
                        <a href="#">@vac.Organization</a>
                    </div>
                    <div class="loc">
                        <span>@vac.Address</span>
                    </div>
                    <div class="loc">
                        <span>@vac.Locality</span>
                    </div>
                    <p class="descr">
                        @vac.Description
                    </p>
                    <button type="button" class="btn btn-primary">Откликнуться</button>
                </div>
            }
        </div>
    </div>
</main>


